*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

div {
    border: white;
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    height: auto;
}

body {
    min-width: 1024px;
    background-color: var(--white);
}

main {
    padding: 48px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
