.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-fail {
    color: var(--red);
    background-color: var(--light-red);
    border-radius: .375rem;
}

.main-fail h2 {
    margin: 40px 0 0 0;
    padding: 10px;
}

.project_block {
    max-width: 30rem;
    width: 100%;
    background-color: var(--light-blue);
    padding: 20px;
    border-radius: .375rem;
    margin: 0 0 30px 0
}

.project_block_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 0 15px 0;
}

.project_block_title h2 {
    margin: 2px 0;
}

.auth_form {
    margin: 40px 0 0 0;
}

.project_form_label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.project_form_select {
    width: 100%;
    display: block;
    outline: none;
    font-size: 20px;
    font-family: var(--main-font);
    line-height: 1.25rem;
    padding: .5rem .75rem;
    border-width: 1px;
    border-radius: .375rem;
    font-family: var(--main-font);
    box-sizing: border-box;
    --tw-border-opacity: 1;
    margin: 0 0 15px 0
}

.add_task_input {
    width: 100%;
    display: block;
    outline: none;
    font-size: .875rem;
    font-family: var(--main-font);
    line-height: 1.25rem;
    padding: .5rem .75rem;
    border-width: 1px;
    border-radius: .375rem;
    box-sizing: border-box;
    --tw-border-opacity: 1;
    margin: 0 0 15px 0
}

.project_form_button {
    font-weight: 500;
    font-size: .975rem;
    line-height: 1.25rem;
    padding: .5rem 1rem;
    border-color: transparent;
    border-radius: .375rem;
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--white);
    background-color: var(--blue);
    font-family: var(--main-font);
    transition: .12s;
}