:root {

    --main-font: "Muller", "Helvetica", sans-serif;

    --blue: #2f80ed;
    --medium-blue: #82b6ff;
    --light-blue: #cadefa;
    --white: #eef4fb;
    --text: #333333;

    --green: #65b670;
    --red: #c9666c;

    --light-green: #d7f9e0;
    --light-red: #fbe3e3;
    --light-gray: #e3e3e3;

    --input-border-active-color: #82b6ff;
    --task-active-border-color: #d6d6d6;
    --btn-clear-hover-color: #d18d91;
    --inactive-color: #d0d0d0;

    --animation: 0.155s ease-in-out;
}
